<div class="schedule"
     [ngClass]="{'phone-schedule' : isHandset}">
  <div [ngClass]="{'comp-cards' : !isHandset}">
    <mat-form-field appearance="fill"
                    [ngClass]="{'phone' : isHandset}">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="range"
                            [rangePicker]="picker">
        <input matStartDate
               formControlName="start"
               placeholder="Start date">
        <input matEndDate
               formControlName="end"
               placeholder="End date">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix
                             [for]="picker"></mat-datepicker-toggle>
      <button mat-icon-button
              matSuffix
              type="submit"
              (click)="applyFilter()">
        <mat-icon>done</mat-icon>
      </button>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>

    <mat-card class="schedule-card"
              *ngFor="let schedule of selectedSchedules ? selectedSchedules : schedules"
              [ngClass]="{'comp' : !isHandset,
            'phone' : isHandset,
            'mon': schedule.date.getDay() === 1,
            'tue': schedule.date.getDay() === 2,
            'wed': schedule.date.getDay() === 3,
            'thu': schedule.date.getDay() === 4,
            'fri': schedule.date.getDay() === 5,
            'sat': schedule.date.getDay() === 6,
            'sun': schedule.date.getDay() === 0} ">
      <mat-card-header>
        <mat-card-title>{{schedule.date.toDateString()}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>{{schedule.date.toLocaleTimeString()}}</p>
        <p>{{schedule.tutor}}</p>
        <p>{{schedule.type}}</p>
        <p>{{schedule.subject}}</p>
      </mat-card-content>
      <mat-card-actions>
        <a *ngIf="schedule.link"
           [href]="schedule.link"
           mat-raised-button
           color="primary">{{schedule.place}}</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
