

<!--<p-->
<!--  *ngFor="let schedule of schedules">-->
<!--  {{schedule | json}}-->
<!--</p>-->
<div class="schedule">
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
  </mat-form-field>

  <!--<p>Selected range: {{range.value | json}}</p>-->

  <!--<button>apply</button>-->


  <mat-card class="example-card"
            *ngFor="let schedule of schedules">
    <mat-card-header>
      <mat-card-title>{{schedule.date.toDateString()}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <!--          [ngClass]="{'comp' : !isHandset, 'phone' : isHandset}">-->

    <mat-card-content>
      <p>{{schedule.date.toLocaleTimeString()}}</p>
      <p>{{schedule.tutor}}</p>
      <p>{{schedule.type}}</p>
      <p>{{schedule.subject}}</p>
    </mat-card-content>
    <mat-card-actions>
      <a [href]="schedule.link" mat-raised-button color="primary">{{schedule.place}}</a>
    </mat-card-actions>
  </mat-card>
</div>


<!--<mat-card class="example-card">-->
<!--  <mat-card-header>-->
<!--    <mat-card-title>Shiba Inu</mat-card-title>-->
<!--    <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
<!--  </mat-card-header>-->
<!--  <mat-card-content>-->
<!--    <p>This card indeterminates progress bar.</p>-->
<!--    <p>?</p>-->
<!--  </mat-card-content>-->
<!--  <mat-card-actions>-->
<!--    <button mat-button>LIKE</button>-->
<!--    <button mat-button>SHARE</button>-->
<!--  </mat-card-actions>-->
<!--</mat-card>-->
