.schedule {
  justify-content: center;
  word-wrap: break-word;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: auto;
}

.comp-cards {
  max-width: 400px;
}

.phone {
  display: block;
  justify-content: center;
  width: auto;
  word-wrap: break-word;
}

.phone-schedule {
  display: block;
  justify-content: center;
  width: auto;
  word-wrap: break-word;
}

mat-form-field {
  margin-top: 12px;
  margin-bottom: 12px;
  word-wrap: break-word;
  width: 100%;
}

.schedule-card {
  margin-bottom: 12px;
  display: block;
  justify-content: center;
  word-wrap: break-word;
}

.mon {
  background-color: rgba(255, 0, 0, 0.2);
}

.tue {
  background-color: rgba(255, 165, 0, 0.2);
}

.wed {
  background-color: rgba(255, 255, 0, 0.2);
}

.thu {
  background-color: rgba(0, 128, 0, 0.2);
}

.fri {
  background-color: rgba(0, 0, 255, 0.2);
}

.sat {
  background-color: rgba(75, 0, 130, 0.2);
}

.sun {
  background-color: rgba(238, 130, 238, 0.2);
}
