

<div class="cards" [ngClass]="{'phone-one' : isHandset}">
  <mat-card class="example-card" [ngClass]="{'comp' : !isHandset, 'phone' : isHandset}">
    <mat-card-title>Which group do you want?</mat-card-title>
    <mat-card-content>
      <br>
      <form [formGroup]="this.groupGroup">
        <mat-form-field appearance="fill">
          <mat-label>Group</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 matInput
                 formControlName="group"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submit()">Pick</button>
      </form>
    </mat-card-content>
  </mat-card>

</div>


