

<div class="cards">
  <mat-card class="example-card">
    <mat-card-title>Groups</mat-card-title>
    <mat-card-content>
      <br>
      <button
        *ngFor="let group of groups"
        mat-raised-button
        (click)="this.goEvent.emit('faculties/' + group.facultyId + '/' + group.id)">
        {{group.id}}
      </button>
    </mat-card-content>
  </mat-card>

</div>

<form [formGroup]="this.groupGroup">
  <mat-form-field appearance="fill">
    <mat-label>Group</mat-label>
    <input type="text"
           placeholder="Pick one"
           matInput
           formControlName="group"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-raised-button (click)="submit()">Pick</button>
</form>
