.main-div {
  display: grid;
  justify-content: center;
  word-wrap: break-word;
}

.faculty-card {
  margin-top: 10px;
  width: auto;
  text-align: center;
  word-wrap: break-word;
}

.phone-card {
  display: grid;
  justify-content: center;
  width: auto;
  word-wrap: break-word;
}

.phone-div {
  display: grid;
  justify-content: center;
  width: auto;
  word-wrap: break-word;
}

form {
  display: grid;
  width: auto;
  word-wrap: break-word;
  align-items: center;
}

