.card{
  display: grid;
  justify-content: center;
}

button{
  display: block;
  margin: 12px;
  width: 100px;
}

.example-card{
  margin-top: 10px;
  display: grid;
  justify-content: center;
  width: 15em;
  text-align: center;
}
