<div class="card">
  <mat-card class="example-card">
    <mat-card-title>Faculties</mat-card-title>
    <mat-card-content>
      <br>
      <button
        *ngFor="let id of facultyIds"
        mat-raised-button
        (click)="this.goEvent.emit('faculties/' + id)">
        {{id}}
      </button>
    </mat-card-content>
  </mat-card>
</div>

<form [formGroup]="this.facultyGroup">
  <mat-form-field appearance="fill">
    <mat-label>Faculty</mat-label>
    <input type="text"
           placeholder="Pick one"
           matInput
           formControlName="faculty"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-raised-button (click)="submit()">Pick</button>
</form>
