<div class="main-div"
     [ngClass]="{'phone-div' : isHandset}">
  <mat-card class="faculty-card"
            [ngClass]="{'phone-card' : isHandset}">
    <mat-card-title>Which Faculty do you want?</mat-card-title>
    <mat-card-content>
      <br>
      <form [formGroup]="this.facultyGroup"
            (submit)="submit()">
        <mat-form-field appearance="fill">
          <mat-label>Faculty</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 matInput
                 formControlName="faculty"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption
                            #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async"
                        [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button mat-raised-button
                color="primary"
                type="submit">Pick
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
