
.cards{
  display: grid;
  justify-content: center;
  word-wrap: break-word;
}


.example-card{
  margin-top: 10px;
  width: auto;
  text-align: center;
  word-wrap: break-word;
}


.phone{
  display: grid;
  justify-content: center;
  width: auto;
  word-wrap: break-word;
}

.phone-one{
  display: grid;
  justify-content: center;
  width: auto;
  word-wrap: break-word;
}

form{
  display: grid;
  width: auto;
  word-wrap: break-word;
  align-items: center;
}

