.cards{
  display: flex;
  justify-content: center;
  word-wrap: break-word;
}


.example-card {
  width: 28em;
  margin: 1em;
  word-wrap: break-word;
}

hr{
  border-color: #a8a8a8;
}

.phone-one{
  display: grid;
  justify-content: center;
  width: auto;
  word-wrap: break-word;
}

.phone{
  display: block;
  justify-content: center;
  width: auto;
}

.logo{
  background-color: white;
}



img{
  /*background-color: white;*/
}

mat-card-header, mat-card-title{
  text-align: center;
  word-wrap: break-word;
}
