
<div class="cards" [ngClass]="{'phone-one' : isHandset}">
  <mat-card class="example-card" [ngClass]="{'comp' : !isHandset, 'phone' : isHandset}">
    <mat-card-header>
      <mat-card-title>Доброго дня усім</mat-card-title>
      <mat-card-title>Вас вітає, Європейский Університет</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="logo" src="../../../assets/logo.svg" alt="">
    <mat-card-content>
      <p>
        Якши ви потравили до цього сайту, значить хочете дізнатия розклад, або контакти когось з викладачів або з деканату.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" [ngClass]="{'comp' : !isHandset, 'phone' : isHandset}">
    <mat-card-header>
    </mat-card-header>
    <img mat-card-image src="../../../assets/1669407463383.png" alt="">
    <mat-card-content>
      <p>

      </p>
    </mat-card-content>
  </mat-card>

</div>



