.main-div {
  display: flex;
  justify-content: center;
  word-wrap: break-word;
}

.home-card {
  width: 28em;
  margin: 1em;
  word-wrap: break-word;
}

hr {
  border-color: #a8a8a8;
}

.phone-div {
  display: grid;
  justify-content: center;
  width: auto;
  word-wrap: break-word;
}

.phone-card {
  display: block;
  justify-content: center;
  width: auto;
}

.logo {
  background-color: white;
}

mat-card-header, mat-card-title {
  text-align: center;
  word-wrap: break-word;
}
