<h1>Contacts</h1>
<div class="cards"
     [ngClass]="{'phone-cards' : isHandset}">
  <div [ngClass]="{'inner-div' : !isHandset}">

    <mat-card class="contact-card"
              *ngFor="let contact of contacts"
              [ngClass]="{'phone-card' : isHandset}">
      <mat-card-title>{{contact.name}}</mat-card-title>
      <mat-card-subtitle>{{contact.type}}</mat-card-subtitle>
      <mat-card-content>
        <br>
        <p *ngFor="let detail of contact.details">{{detail.type}}: {{detail.contact}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
