h1{
  text-align: center;
  margin-top: 10px;
}

.cards{
  display: grid;
  justify-content: center;
  word-wrap: break-word;
}

.comp {

  background: rgb(16, 56, 187);

}

.phone-one{
  display: block;
  justify-content: center;
}

mat-card-content, mat-card-title{
  margin: 10px;
}


.phone{
  background: rgb(16, 56, 187);
  display: block;
  justify-content: center;
  width: auto;
}

.example-card {
  max-width: 40em;
  height: auto;
  margin-bottom: 12px;



}
