h1 {
  text-align: center;
  margin-top: 10px;
}

.cards {
  display: grid;
  justify-content: center;
  word-wrap: break-word;
}

.inner-div {
  max-width: 400px;
}

.phone-cards {
  display: block;
  justify-content: center;
}

mat-card-content, mat-card-title {
  margin: 10px;
}

.phone-card {
  display: block;
  justify-content: center;
  width: auto;
}

.contact-card {
  width: auto;
  height: auto;
  margin-bottom: 12px;
}
